@font-face {
    font-family: "Aileron";
    src: url("/dist/aileron/Aileron-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Aileron";
    src: url("/dist/aileron/Aileron-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}
html, body {
    margin: 0;
    padding: 0;
    font-family: "Aileron", sans-serif;
    letter-spacing: 0.07rem;
    //background: url("https://miro.medium.com/max/2880/1*-egs-meZ08WEmAhlwa481Q.png");
}

hr {
    border: none;
    height: 1px;
    background-color: #efefef;
}

h1 {
    font-weight: inherit;
    font-size: 4rem;
}

#app {
    display: grid;
    grid-template-columns: 314px 1fr;
    grid-template-areas: "menu page";
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

li, .menuSectionTitle {
    margin-bottom: 0.5rem;
    list-style: none;
}

a {
    cursor: pointer;
    transition: all 200ms;
}

.menuSectionTitle {
    cursor: pointer;
}

a:hover, .menuSectionTitle:hover {
    color: red;
}

ul:nth-child(1) {
    padding-left: 0;
}

.homelink {
    position: fixed;
    top: 22px;
    left: 22px;
    letter-spacing: 2.35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homelink > div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

.homelink > * > svg {
    //display: none;
    height: 2rem;
    cursor: pointer;
}

@media (max-width: 800px) {
    .homelink > div {
        margin-top: 0;
        grid-area: button;
    }
    .homelink > * > svg {
        display: inline-block;
        margin-right: 1rem;
    }

    .homelink {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 1rem;
        grid-template-areas: "button title";
    }
}

.menu > ul {
    padding-left: 1rem;
}

.menu {
    color: #888;
    width: 200px;
    opacity: 0;
    transition: all 500ms cubic-bezier(0.8, 0, 0.2, 1);
    padding-left: 2rem;
}

.menuContainer {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1.5rem;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    max-height: 100%;
    overflow-x: hidden;
    width: 0;
    transition: all 500ms cubic-bezier(0.8, 0, 0.2, 1);
    z-index: 200;
    background-color: white;
    overflow-y: scroll;
}

.menuContainerOpen {
    width: 250px;
}

.menuContainerOpen > .menu {
    opacity: 1;
    max-height: 100%;
    overflow-y: scroll;
}

@media (max-width: 800px) {
    .menu {
        overflow: scroll;
        width: 100%;
        box-sizing: border-box;
        padding-left: 0;
    }

    .menuContainer {
        width: 100%;
        height: 36px;
        justify-content: center;
        box-sizing: border-box;
    }

    .menuContainerOpen {
        width: 100%;
        height: 100%;
    }

    .pageContentContainer {
        grid-area: content;
        padding: 0 !important;
    }

    #app {
        grid-template-columns: 1fr;
        grid-template-rows: 84px 1fr;
        grid-template-areas: "menu" "page";
    }

    .homelink {
        writing-mode: horizontal-tb;
        transform: rotate(0deg);
        position: fixed;
        top: 1.5rem;
        left: 1.5rem;
        letter-spacing: 2.35px;
    }
}

.pageContentContainer {
    padding: 0.25rem;
    overflow: scroll;
    grid-area: page;
}

.projectGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 0.5rem;
}

@media (max-width: 500px) {
    .projectGrid {
        grid-template-columns: 1fr;
    }
}

.projectCell {
    min-height: 400px;
    background-color: #ffffff;
    transition: all 1000ms cubic-bezier(0.8, 0, 0.2, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    cursor: pointer;
    background-size: cover;
    background-position: center;
}

.categoryTag {
    opacity: 0;
    transition: all 500ms ease-in-out;
    text-align: right;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
}

.projectCell:hover  {
    background-color: #fafafa;
    padding: 1rem;
    transform: scale(0.98);
}

.projectCell:active {
    transition: all 50ms ease-in-out;
    transform: scale(0.97);
}

.projectCell:hover > .categoryTag {
    opacity: 1;
}

.projectTitle {
    font-size: 4rem;
    text-align: left;
    max-width: 75%;
    padding: 0 0 0 1rem;
    transition: all 1000ms cubic-bezier(0.8, 0, 0.2, 1);
}

.musicPlayer {
    background-color: white;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    position: fixed;
    bottom: 22px;
    left: 18px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    user-select: none;
    z-index: 300;
    min-width: 32px;
    max-width: 32px;
    min-height: 40px;
    max-height: 40px;
    overflow: hidden;
}

@media (max-width: 800px) {

    .musicPlayer {
        top: 20px;
        right: 26px;
        bottom: auto;
        left: auto;
    }

}

.playerActionText {
    opacity: 1;
    min-width: 100px;
    font-weight: 300;
}

.musicPlayer:hover {
    min-width: 200px;
    height: 40px;
    background: black;
    color: white;
    padding-left: 0.5rem;
}

.musicPlayer:hover > .playerActionText {
    opacity: 1;
}

.musicPlayer:active {
    background-color: orangered;
    color: white;
}

.playButton {
    height: 32px;
    min-width: 32px;
    margin-right: 1rem;
}

.footer {
    grid-column: 1 / -1;
    min-height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);

    div {
        text-align: center;
    }
}


.splash {
    min-height: 70%;
    max-height: 70%;
    padding-top: 4rem;
    padding-bottom: 4rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: min-height 1000ms cubic-bezier(0.8, 0, 0.2, 1),
                max-height 1000ms cubic-bezier(0.8, 0, 0.2, 1),
                margin-top 1000ms cubic-bezier(0.8, 0, 0.2, 1),
                opacity 750ms cubic-bezier(0.8, 0, 0.2, 1);
    overflow: hidden;
}

.splashCollapse {
    min-height: 8rem;
    max-height: 8rem;
    margin-top: -4rem;
    opacity: 0;
}

@media (max-width: 800px) {
    .splash {
        padding-left: 2rem;
        padding-bottom: 1.5rem;
    }
}

.splash > div:nth-child(1) {
    font-size: 4rem;
}

.sectionTitle {
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
    transition: all 500ms cubic-bezier(0.8, 0, 0.2, 1);
}
@media (max-width: 800px) {
    .sectionTitle {
        padding-left: 2rem;
        margin-bottom: 3rem;
    }
}

.sectionTitle > svg {
    height: 1.5rem;
}

.section {
    margin-bottom: 8rem;
}
